<a href="https://colab.research.google.com/github/Rakib4u2/Rakibul/blob/main/ckd_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import cv2
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.ensemble import RandomForestClassifier

# Load the dataset
file_path = "/datasets1.csv"
df = pd.read_csv('/datasets1.csv')

# Handle missing values (fill with median for numeric, mode for categorical)
for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].median(), inplace=True)

# Encode categorical features
label_encoders = {}
for col in df.select_dtypes(include='object').columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

# Split features and target
y = df['classification']
X = df.drop(['classification', 'id'], axis=1)

# Standardize numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

print("Data processing complete! Ready for modeling.")

Data processing complete! Ready for modeling.

<ipython-input-9-c4897df860a2>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
<ipython-input-9-c4897df860a2>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [10]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [id, age, bp, sg, al, su, rbc, pc, pcc, ba, bgr, bu, sc, sod, pot, hemo, pcv, wc, rc, htn, dm, cad, appet, pe, ane, classification]
Index: []

[0 rows x 26 columns]

In [11]:
print(df.isnull().sum())

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [12]:
print(df.head(5))

   id   age    bp     sg   al   su  rbc  pc  pcc  ba  ...  pcv  wc  rc  htn  \
0   0  48.0  80.0  1.020  1.0  0.0    1   1    0   0  ...   32  72  31    1
1   1   7.0  50.0  1.020  4.0  0.0    1   1    0   0  ...   26  56  31    0
2   2  62.0  80.0  1.010  2.0  3.0    1   1    0   0  ...   19  70  31    0
3   3  48.0  70.0  1.005  4.0  0.0    1   0    1   0  ...   20  62  18    1
4   4  51.0  80.0  1.010  2.0  0.0    1   1    0   0  ...   23  68  25    0

   dm  cad  appet  pe  ane  classification
0   4    1      0   0    0               0
1   3    1      0   0    0               0
2   4    1      1   0    1               0
3   3    1      1   1    1               0
4   3    1      0   0    0               0

[5 rows x 26 columns]

In [16]:
df.dropna(axis=0,inplace=True)

In [17]:
print(df.head(5))

   id   age    bp     sg   al   su  rbc  pc  pcc  ba  ...  pcv  wc  rc  htn  \
0   0  48.0  80.0  1.020  1.0  0.0    1   1    0   0  ...   32  72  31    1
1   1   7.0  50.0  1.020  4.0  0.0    1   1    0   0  ...   26  56  31    0
2   2  62.0  80.0  1.010  2.0  3.0    1   1    0   0  ...   19  70  31    0
3   3  48.0  70.0  1.005  4.0  0.0    1   0    1   0  ...   20  62  18    1
4   4  51.0  80.0  1.010  2.0  0.0    1   1    0   0  ...   23  68  25    0

   dm  cad  appet  pe  ane  classification
0   4    1      0   0    0               0
1   3    1      0   0    0               0
2   4    1      1   0    1               0
3   3    1      1   1    1               0
4   3    1      0   0    0               0

[5 rows x 26 columns]

In [6]:
df.drop('classification',axis=1,inplace=True)

In [7]:
print(df.head(5))

   id   age    bp     sg   al   su  rbc  pc  pcc  ba  ...  hemo  pcv  wc  rc  \
0   0  48.0  80.0  1.020  1.0  0.0    1   1    0   0  ...  15.4   32  72  31
1   1   7.0  50.0  1.020  4.0  0.0    1   1    0   0  ...  11.3   26  56  31
2   2  62.0  80.0  1.010  2.0  3.0    1   1    0   0  ...   9.6   19  70  31
3   3  48.0  70.0  1.005  4.0  0.0    1   0    1   0  ...  11.2   20  62  18
4   4  51.0  80.0  1.010  2.0  0.0    1   1    0   0  ...  11.6   23  68  25

   htn  dm  cad  appet  pe  ane
0    1   4    1      0   0    0
1    0   3    1      0   0    0
2    0   4    1      1   0    1
3    1   3    1      1   1    1
4    0   3    1      0   0    0

[5 rows x 25 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             400 non-null    float64
 2   bp              400 non-null    float64
 3   sg              400 non-null    float64
 4   al              400 non-null    float64
 5   su              400 non-null    float64
 6   rbc             400 non-null    int64
 7   pc              400 non-null    int64
 8   pcc             400 non-null    int64
 9   ba              400 non-null    int64
 10  bgr             400 non-null    float64
 11  bu              400 non-null    float64
 12  sc              400 non-null    float64
 13  sod             400 non-null    float64
 14  pot             400 non-null    float64
 15  hemo            400 non-null    float64
 16  pcv             400 non-null    int64
 17  wc              400 non-null    int64
 18  rc              400 non-null    int64
 19  htn             400 non-null    int64
 20  dm              400 non-null    int64
 21  cad             400 non-null    int64
 22  appet           400 non-null    int64
 23  pe              400 non-null    int64
 24  ane             400 non-null    int64
 25  classification  400 non-null    int64
dtypes: float64(11), int64(15)
memory usage: 81.4 KB
None
               id         age          bp          sg         al          su  \
count  400.000000  400.000000  400.000000  400.000000  400.00000  400.000000
mean   199.500000   51.562500   76.575000    1.017712    0.90000    0.395000
std    115.614301   16.982996   13.489785    0.005434    1.31313    1.040038
min      0.000000    2.000000   50.000000    1.005000    0.00000    0.000000
25%     99.750000   42.000000   70.000000    1.015000    0.00000    0.000000
50%    199.500000   55.000000   80.000000    1.020000    0.00000    0.000000
75%    299.250000   64.000000   80.000000    1.020000    2.00000    0.000000
max    399.000000   90.000000  180.000000    1.025000    5.00000    5.000000

              rbc          pc         pcc          ba  ...         pcv  \
count  400.000000  400.000000  400.000000  400.000000  ...  400.000000
mean     0.882500    0.810000    0.105000    0.055000  ...   27.227500
std      0.322418    0.392792    0.306937    0.228266  ...    8.304707
min      0.000000    0.000000    0.000000    0.000000  ...    0.000000
25%      1.000000    1.000000    0.000000    0.000000  ...   22.000000
50%      1.000000    1.000000    0.000000    0.000000  ...   29.000000
75%      1.000000    1.000000    0.000000    0.000000  ...   32.000000
max      1.000000    1.000000    1.000000    1.000000  ...   43.000000

               wc          rc         htn          dm         cad       appet  \
count  400.000000  400.000000  400.000000  400.000000  400.000000  400.000000
mean    63.905000   27.580000    0.367500    3.300000    1.080000    0.205000
std     27.643378    8.710527    0.482728    0.579517    0.289499    0.404207
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%     49.000000   24.000000    0.000000    3.000000    1.000000    0.000000
50%     71.000000   31.000000    0.000000    3.000000    1.000000    0.000000
75%     90.000000   31.000000    1.000000    4.000000    1.000000    0.000000
max     91.000000   45.000000    1.000000    4.000000    2.000000    1.000000

               pe         ane  classification
count  400.000000  400.000000      400.000000
mean     0.190000    0.150000        0.755000
std      0.392792    0.357519        0.968152
min      0.000000    0.000000        0.000000
25%      0.000000    0.000000        0.000000
50%      0.000000    0.000000        0.000000
75%      0.000000    0.000000        2.000000
max      1.000000    1.000000        2.000000

[8 rows x 26 columns]

In [ ]:
print(df.describe())

               id         age          bp          sg         al          su  \
count  400.000000  400.000000  400.000000  400.000000  400.00000  400.000000
mean   199.500000   51.562500   76.575000    1.017712    0.90000    0.395000
std    115.614301   16.982996   13.489785    0.005434    1.31313    1.040038
min      0.000000    2.000000   50.000000    1.005000    0.00000    0.000000
25%     99.750000   42.000000   70.000000    1.015000    0.00000    0.000000
50%    199.500000   55.000000   80.000000    1.020000    0.00000    0.000000
75%    299.250000   64.000000   80.000000    1.020000    2.00000    0.000000
max    399.000000   90.000000  180.000000    1.025000    5.00000    5.000000

              rbc          pc         pcc          ba  ...         pcv  \
count  400.000000  400.000000  400.000000  400.000000  ...  400.000000
mean     0.882500    0.810000    0.105000    0.055000  ...   27.227500
std      0.322418    0.392792    0.306937    0.228266  ...    8.304707
min      0.000000    0.000000    0.000000    0.000000  ...    0.000000
25%      1.000000    1.000000    0.000000    0.000000  ...   22.000000
50%      1.000000    1.000000    0.000000    0.000000  ...   29.000000
75%      1.000000    1.000000    0.000000    0.000000  ...   32.000000
max      1.000000    1.000000    1.000000    1.000000  ...   43.000000

               wc          rc         htn          dm         cad       appet  \
count  400.000000  400.000000  400.000000  400.000000  400.000000  400.000000
mean    63.905000   27.580000    0.367500    3.300000    1.080000    0.205000
std     27.643378    8.710527    0.482728    0.579517    0.289499    0.404207
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%     49.000000   24.000000    0.000000    3.000000    1.000000    0.000000
50%     71.000000   31.000000    0.000000    3.000000    1.000000    0.000000
75%     90.000000   31.000000    1.000000    4.000000    1.000000    0.000000
max     91.000000   45.000000    1.000000    4.000000    2.000000    1.000000

               pe         ane  classification
count  400.000000  400.000000      400.000000
mean     0.190000    0.150000        0.755000
std      0.392792    0.357519        0.968152
min      0.000000    0.000000        0.000000
25%      0.000000    0.000000        0.000000
50%      0.000000    0.000000        0.000000
75%      0.000000    0.000000        2.000000
max      1.000000    1.000000        2.000000

[8 rows x 26 columns]

In [24]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Load dataset (Modify the filename/path as needed)
df = pd.read_csv("data.csv")  # Ensure this file exists

# Define features (X) and target variable (y)
X = df.drop(columns=["target_column"])  # Replace with your actual target column name
y = df["target_column"]  # Replace with actual target column

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)  # Ensure X is a DataFrame or NumPy array

# Select top features with chi-square test
selector = SelectKBest(score_func=chi2, k=10)
X_selected = selector.fit_transform(X_scaled, y)

# Get feature scores
feature_scores = pd.DataFrame({'Feature': X.columns, 'Score': selector.scores_})
feature_scores = feature_scores.sort_values(by='Score', ascending=False)

# Feature importance with Random Forest
model = RandomForestClassifier()
model.fit(X_scaled, y)

feature_importance = pd.DataFrame({'Feature': X.columns, 'Importance': model.feature_importances_})
feature_importance = feature_importance.sort_values(by='Importance', ascending=False)

print("Top features by chi-square test:")
print(feature_scores.head(10))

print("\nTop features by Random Forest importance:")
print(feature_importance.head(10))

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

# New Section